#bold {
    background-color:pink;
}
* {
    font-family: arial,sans-serif;
}
.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;  
}


li {
    color: purple;
}

* {
    font-size: 22px;
}
.main,
#bold {
    color:brown;
    text-align: center;
}
p {
    color:rgb(174, 216, 58, 0.986);
    background-color:grey;
    text-align: center;
}
